body {
    max-width: 900px;
    margin: 1% auto;
    color: #efefef;
    background: #606060;
    border-style:#898989;
    border: 2px solid #E2DADA;
    font-family: verdana;
    font-size: 16px;
    font-style: normal;
    text-align:left 
    }

table {       
        background: #606060;
        font-family: verdana;
        font-size: 16px;
        font-style: normal;
        border: 2px solid #E2DADA;
        text-align:left 
    }  
    
footer p {
        text-align: center;
        padding: .5% 0;
        background:#898989;
        }    
 a:link {
            color: rgb(128, 0, 17); 
            background-color: transparent; 
            text-decoration: none;
        }        
 a:visited {
            color: #C0ECFF;
            background-color: transparent;
            text-decoration: none;
        }
